@import "../../styles/variables.scss";

.login {
  display: flex;
  flex-direction: column;
  flex: 1;

  .logoSection {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    img {
      width: 100%;
    }

    .symbol {
      width: 118px;
    }

    .logo {
      width: 144px;
    }
  }

  .loginButton {
    width: 100%;
    padding: 22px 0;
    margin-top: 8px;
    background-color: $blue;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 800;
  }

  .linkButtons {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;

    .linkBtn {
      a {
        font-size: 14px;
        color: black;
        text-decoration: none;
      }
    }
  }
}
