@import "../../styles/variables.scss";

.ctaButton {
  width: 100%;
  height: 56px;
  background-color: $blue;
  border-radius: 6px;
  border: 1px solid transparent;
  color: white;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  transition: all 300ms ease;

  &:hover {
    background-color: $navy;
  }

  &:disabled {
    background-color: $grey80;
  }

  &.whiteBg {
    background-color: white;
    color: $blue;
    border-color: $blue;

    &:hover {
      color: $navy;
      border-color: $navy;
    }

    &:disabled {
      color: $grey60;
      border-color: $grey80;
    }
  }
}
