.postList {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  overflow: auto;
}

.postAddButton {
  width: 100%;
  padding-top: 24px;
  text-align: right;
  background-color: white;

  button {
    width: 120px;
  }
}
