@import "../../styles/variables.scss";

.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: $grey98;

  .contentsArea {
    position: relative;
    width: 576px;
    min-height: 80vh;
    background-color: white;
    border-radius: 16px;
    border: 1px solid $grey88;
    overflow: auto;
  }
}
