@import "../../styles/variables.scss";

.signUp {
  display: flex;
  flex-direction: column;
  flex: 1;

  .inputArea {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 24px;

    .articleTitle {
      font-size: 24px;
      font-weight: 800;
    }

    .phoneNumberInput {
      display: flex;
      gap: 8px;

      input {
        width: 100%;
      }

      .selectBox {
        width: fit-content;
        padding: 16px;
        border: 1ox solid $grey88;
        border-radius: 8px;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}
