@import "../../styles/variables.scss";

.signupSuccess {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;

  .thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 40px;

    .thumbnailSymbol {
      width: 136px;
      height: 136px;
    }

    .thumbnailText {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .mainText {
        font-size: 24px;
        line-height: 28px;
        font-weight: 800;
      }

      .subText {
        font-size: 20px;
        line-height: 28px;
        color: $grey60;
      }
    }
  }
}
